// begin section-footer
section.section-footer
	.footer
		.container
			.row
				.col-lg-10.col-md-12.col-sm-12.col-xs-12.col-xxs-12.col-lg-offset-1
					.title Пришло время сделать первый шаг <br> к переменам в Вашем бизнесе
					.row
						.col-lg-5.col-md-5.col-sm-6.col-xs-6.col-xxs-12
							+b.social
								+e.title Связаться с нами можно через:
								+b.UL.links
									+e.LI.soc
										+e.A.ref(href="#")
											i.icon-mail-icon
									+e.LI.soc
										+e.A.ref(href="#")
											i.icon-vk-icon
									+e.LI.soc
										+e.A.ref(href="#")
											i.icon-fb-hover
									+e.LI.soc
										+e.A.ref(href="#")
											i.icon-viber-icon
									+e.LI.soc
										+e.A.ref(href="#")
											i.icon-skype-icon
									+e.LI.soc
										+e.A.ref(href="#")
											i.icon-telegram-icon

						.col-lg-7.col-md-7.col-sm-6.col-xs-6.col-xxs-12
							.btn-wrapp-footer
								a.button(href="#")
									span Отправить заявку
								a.button.button_trn(href="#")
									span Скачать презентацию
			ul.social-link
				li.vk-h
					a(href="#") Вконтакте
				li.fb-h
					a(href="#") Facebook
				li.bh-h
					a(href="#") Behance
				li.db-h
					a(href="#") Dribbble
// end section-footer
