.form-fixed
	.btn-close.js-close Закрыть
		i.icon-close
	+b.form
		+e.title Получите<br>бесплатную<br>консультацию
		+e.subtitle Заполните заявку. Специалист компании<br>свяжется с Вами в течение рабочего дня.
		+getProp('Получить консультацию')
