// begin header
header.header
	.header-inside
		.container
			+b.A.logo-wrapp(href="#")
				+e.I.img.icon-logo
			.center-box
				.center-box-item
					.main-title <span class="highlight main-title__highlight">Web</span><strong class="glitch glitch_1" data-txt="site">site</strong>
					br
					.main-title <strong class="glitch glitch_2" data-txt="development">development</strong> <small>creative agency</small>
					.main-subtitle Помогаем опередить Ваших конкурентов <span>on-line</span>
					.btn-wrapp
						a.button.js-show-modal(href="#")
							span Обсудить проект
						a.button.button_trn.scr(href="#section-2")
							span Смотреть портфолио
					+b.button-play
						+e.link-wrapp
							+e.A.link(href="#")
								i.icon-play
						+e.txt Видео<br>о компании
			a.scroll-down.scr(href="#section-1") <span>Scroll down</span>
				.scroll-down-inside
	.social-top-wrapp
		.trn-text Follow us
		ul.social-top
			li
				a(href="#")
					i.icon-vk-icon
			li
				a(href="#")
					i.icon-fb-hover
			li
				a(href="#")
					i.icon-behance
			li
				a(href="#")
					i.icon-dribbble

// end header


.form-fixed
	.js-close Закрыть
		i.icon-close
	+b.form
		+e.title Получите<br>бесплатную<br>консультацию
		+e.subtitle Заполните заявку. Специалист компании<br>свяжется с Вами в течение рабочего дня.
		form(action="sendmail.php" method="post")
			label Введите Ваше имя
				input(data-req="1" type="text" placeholder="Ваше имя" name="name")
			+b.tab-form
				+e.head Выберите удобный способ связи
				+e.tabs-caption
					+e.item_active E-mail
					+e.item Telegram
					+e.item Viber
					+e.item VK
				+e.content-wrapp
					+e.content_active
						label Введите Ваш E-mail
							input(type="email" placeholder="Ваш E-mail" name="email" data-req="1")
					+e.content
						label Введите Ваш E-mail
							input(type="email" placeholder="Ваш E-mail" name="email" data-req="1")
					+e.content
						label Введите Ваш E-mail
							input(type="email" placeholder="Ваш E-mail" name="email" data-req="1")
					+e.content
						label Введите Ваш E-mail
							input(type="email" placeholder="Ваш E-mail" name="email" data-req="1")
			button(type="submit" class="button button_lg send")
				span Получить консультацию