+b.forms_1#price-1
	+e.title Тариф MINIMAL включает в себя:
	.wrapp
		.l-side
			ul.price-content.scrollbar-outer
				li <span>01.</span> Экспресс-брифование клиента;
				li <span>02.</span> Анализ ниши;
				li <span>03.</span> Маркетинговый анализ 10 конкурентов;
				li <span>04.</span> Составление краткого портрета ЦА, <br>выявление болей и потребностей;
				li <span>05.</span> Разработка структуры Landing Page;	
				li <span>06.</span> Разработка концептуального прототипа;
				li <span>07.</span> Написание продающих текстов;
				li <span>08.</span> Дизайн Landing Page;
				li <span>09.</span> Адаптивная, кроссбраузерная верстка;
				li <span>10.</span> Тестирование адаптивности, работы <br>форм, настройка анимации;
				li <span>11.</span> Установка кодов Яндекс.Метрики <br>и/или Google Analytics.
				li <span>12.</span> Экспресс-брифование клиента;
				li <span>13.</span> Анализ ниши;
				li <span>14.</span> Маркетинговый анализ 10 конкурентов;
				li <span>15.</span> Составление краткого портрета ЦА, <br>выявление болей и потребностей;
			+b.getprice
				+e.txt <span>Срок разработки:</span> 15-20 дней
				a.button.button_lg.js-close-fancybox.js-show-modal(href="#")
					span Получить предложение
		.r-side
			img(src="../img/magazine.png", alt="")