// begin section-2
section.section-2
	.text-shadow Portfolio
	.flex-prf
		+prf('../img/portfolio/photo-1.jpg')
		+prf('../img/portfolio/photo-2.jpg')
		+prf('../img/portfolio/photo-3.jpg')
		+prf('../img/portfolio/photo-4.jpg')
// end section-2