// begin section-6
section.section-6
	.text-shadow UDiamond
		.title.title_center Мы работаем только с теми, <br>кто готов создать лучший <br>продукт в своей нише
	.title-sm А не просто «чуть лучше конкурента»
// end section-6