// begin section-5
section.section-5
	.container
		.title Над Вашим проектом работает <br>от 4 до 6 специалистов
		.row.work
			.col-lg-4.col-md-4.col-sm-6.col-xs-6.col-xxs-12
				+b.work-item(data-name="svg_1")
					include svg_1
					+e.title Маркетолог
					+e.txt Занимается оценкой Вашего рыночного сегмента, и предлагает идеальную концепцию сайта (прототип) для конкретного бизнеса с точки зрения увеличения численности клиентов, а так же количества продаж. 
			.col-lg-4.col-md-4.col-sm-6.col-xs-6.col-xxs-12
				+b.work-item(data-name="svg_2")
					include svg_2
					+e.title Маркетолог
					+e.txt Занимается оценкой Вашего рыночного сегмента, и предлагает идеальную концепцию сайта (прототип) для конкретного бизнеса с точки зрения увеличения численности клиентов, а так же количества продаж. 
			.col-lg-4.col-md-4.col-sm-6.col-xs-6.col-xxs-12
				+b.work-item(data-name="svg_3")
					include svg_3
					+e.title Веб-дизайнер
					+e.txt Не менее ценный сотрудник, которому предстоит по утвержденному с Вами прототипу создать эффектную «оболочку» для сайта. Ведь недостаточно красиво написать, нужно наглядно передать статус своей компании. 
			.col-lg-4.col-md-4.col-sm-6.col-xs-6.col-xxs-12
				+b.work-item(data-name="svg_4")
					include svg_4
					+e.title Front-end разработчик
					+e.txt Он же программист, делающий верстку сайта, затем тестирующий его на нормальную работоспособность в существующих браузерах, а также при всех известных расширениях экрана, начиная с компьютера, и заканчивая мобильным телефоном.
			.col-lg-4.col-md-4.col-sm-6.col-xs-6.col-xxs-12
				+b.work-item(data-name="svg_5")
					include svg_5
					+e.title SEM-специалист
					+e.txt Профессионал в сфере контекстной рекламы. На его плечи возложена задача по анализу специфики Вашего бизнеса, настройке рекламной кампании под него, ее оптимизации и ведению на протяжении первого месяца, после запуска сайта либо лендинг пейдж.
			.col-lg-4.col-md-4.col-sm-6.col-xs-6.col-xxs-12
				+b.work-item(data-name="svg_6")
					include svg_6
					+e.title Менеджер проекта
					+e.txt Отдельный член команды, отвечающий за бесперебойную связь между заказчиком и нашим агентством. Он всегда знает, на каком этапе работы находится Ваш заказ, контролирует каждый шаг создания сайта, и в любое время может ответить на все интересующие вопросы, касаемо проекта.
// end section-5