// begin section-3
section.section-3
	.container
		.title 
			i.icon-quotes-lg
			.
				За каждым красивым пикселем <br>стоит деловая цель.
		.person-name Евгений Филоненко
		.person-position руководитель «UDiamond Creative Agency»
// end section-3