// begin section-4
section.section-4
	.text-shadow Price
	.dark-theme
		.container
			.flex-line.top-line
				.paddings.col-lg-6.col-md-6.col-sm-12.col-xs-12.col-xxs-12
					.price-name Landing Page
					.price-text Наше приоритетное направление работы. Разрабатываем продающие <br>сайты, которые работают даже тогда, когда Вы отдыхаете.
				+b.A.price-box.flex-vertical.hover-plan.hover-plan_top.col-lg-2.col-md-2.col-sm-4.col-xs-4.col-xxs-12(href="#")
					+e.SPAN.type Minimal
					+e.SPAN.price <strong>60 </strong>тыс. руб.
					+e.SPAN.link Подробнее
				+b.A.price-box.flex-vertical.hover-plan.hover-plan_bottom.col-lg-2.col-md-2.col-sm-4.col-xs-4.col-xxs-12(href="#")
					+e.SPAN.type Normal
					+e.SPAN.price <strong>120 </strong>тыс. руб.
					+e.SPAN.link Подробнее
				+b.A.price-box.flex-vertical.hover-plan.hover-plan_right.col-lg-2.col-md-2.col-sm-4.col-xs-4.col-xxs-12(href="#")
					+e.SPAN.type Maximum
					+e.SPAN.price <strong>200 </strong>тыс. руб.
					+e.SPAN.link Подробнее

			.flex-line
				.paddings.col-lg-6.col-md-6.col-sm-6.col-xs-6.col-xxs-12
					.price-name Корпоративные сайты
					.price-text Бизнес любого масштаба нуждается в качественной «упаковке». <br>Мы поможем представить Вашу компанию он-лайн на высоком уровне.
				+b.A.price-box.flex-vertical.hover-plan.hover-plan_right.col-lg-3.col-md-3.col-sm-4.col-xs-4.col-xxs-12(href="#")
					+e.SPAN.price <strong>300 </strong>тыс. руб.
			.flex-line
				.paddings.col-lg-6.col-md-6.col-sm-6.col-xs-6.col-xxs-12
					.price-name Интернет-магазины
					.price-text Ежедневно, тысячи людей покупают различные товары в интернете, <br>а мы знаем как сделать этот процесс удобным и понятным для каждого.
				+b.A.price-box.flex-vertical.hover-plan.hover-plan_right.col-lg-3.col-md-3.col-sm-4.col-xs-4.col-xxs-12(href="#")
					+e.SPAN.price <strong>500 </strong>тыс. руб.
			.flex-line
				.paddings.col-lg-6.col-md-6.col-sm-6.col-xs-6.col-xxs-12
					.price-name Настройка и ведение рекламных кампаний
					.price-text Принцип работы такого типа рекламы основан на показе ваших <br>объявлений заинтересованной (целевой) аудитории в тот момент, <br>когда она ищет соответствующую информацию в поисковых системах.
				+b.A.price-box.flex-vertical.hover-plan.hover-plan_right.col-lg-3.col-md-3.col-sm-4.col-xs-4.col-xxs-12(href="#")
					+e.SPAN.price Индивидуальный расчет
			.flex-line
				.paddings.col-lg-6.col-md-6.col-sm-6.col-xs-6.col-xxs-12
					.price-name Комплексные решения
					.price-text Все, что нужно для полноценного представления и продвижения <br>бизнеса в интернете: создание фирменного стиля, разработка сайта <br>и дополнительных продающих связок, настройка РК, SEO-продвижение.
				+b.A.price-box.flex-vertical.hover-plan.hover-plan_right.col-lg-3.col-md-3.col-sm-4.col-xs-4.col-xxs-12(href="#")
					+e.SPAN.price от <strong>1</strong> млн. руб.
// end section-4