// begin section-5
section.section-5
	.container
		.title Над Вашим проектом работает <br>от 4 до 6 специалистов
		.row.work
			.col-lg-4.col-md-4.col-sm-6.col-xs-6.col-xxs-12.animatedParent.animateOnce
				+b.work-item.animated.fadeIn(data-name="svg_1")
					include svg_1
					+e.title Маркетолог
					+e.txt Занимается оценкой Вашего <br>рыночного сегмента, и предлагает <br>идеальную концепцию сайта <br>(прототип) для конкретного бизнеса <br>с точки зрения увеличения <br>численности клиентов, а так же <br>количества продаж. 
			.col-lg-4.col-md-4.col-sm-6.col-xs-6.col-xxs-12.animatedParent.animateOnce
				+b.work-item.animated.fadeIn(data-name="svg_2")
					include svg_2
					+e.title Копирайтер
					+e.txt Отвечает за написание цепляющих <br>заголовков и продающего текста, что <br>крайне важно, если Ваша цель – это <br>преобразование каждого посетителя <br>сайта в целевого клиента.
			.col-lg-4.col-md-4.col-sm-6.col-xs-6.col-xxs-12.animatedParent.animateOnce
				+b.work-item.animated.fadeIn(data-name="svg_3")
					include svg_3
					+e.title Веб-дизайнер
					+e.txt Не менее ценный сотрудник, которому <br>предстоит по утвержденному с Вами <br>прототипу создать эффектную <br>«оболочку» для сайта. Ведь <br>недостаточно красиво написать, <br>нужно наглядно передать статус <br>своей компании. 
			.col-lg-4.col-md-4.col-sm-6.col-xs-6.col-xxs-12.animatedParent.animateOnce
				+b.work-item.animated.fadeIn(data-name="svg_4")
					include svg_4
					+e.title Front-end разработчик
					+e.txt Он же программист, делающий <br>верстку сайта, затем тестирующий его <br>на нормальную работоспособность <br>в существующих браузерах, а также <br>при всех известных расширениях <br>экрана, начиная с компьютера, <br>и заканчивая мобильным телефоном.
			.col-lg-4.col-md-4.col-sm-6.col-xs-6.col-xxs-12.animatedParent.animateOnce
				+b.work-item.animated.fadeIn(data-name="svg_5")
					include svg_5
					+e.title SEM-специалист
					+e.txt Профессионал в сфере контекстной <br>рекламы. На его плечи возложена <br>задача по анализу специфики Вашего <br>бизнеса, настройке рекламной <br>кампании под него, ее оптимизации <br>и ведению на протяжении первого <br>месяца, после запуска сайта либо <br>лендинг пейдж.
			.col-lg-4.col-md-4.col-sm-6.col-xs-6.col-xxs-12.animatedParent.animateOnce
				+b.work-item.animated.fadeIn(data-name="svg_6")
					include svg_6
					+e.title Менеджер проекта
					+e.txt Отдельный член команды, <br>отвечающий за бесперебойную <br>связь между заказчиком и нашим <br>агентством. Он всегда знает, на каком <br>этапе работы находится Ваш заказ, <br>контролирует каждый шаг создания <br>сайта, и в любое время может <br>ответить на все интересующие <br>вопросы, касаемо проекта.
// end section-5