// begin section-1
section.section-1#section-1
	.container
		.text-shadow Future
			.title.title_center Опережайте по всем пунктам
		.content-circle
			+bitem('Аналитика', 'Анализируем реакцию посетителей <br>на сайт и дорабатываем его', 'pos-6')(class="icon-info6")
			+bitem('Анализ', 'Изучение целевой аудитории <br>и их потребностей', 'pos-1')(class="icon-info1")
			+bitem('Стратегия', 'Создаем рабочую стратегию <br>будущего сайта', 'pos-2')(class="icon-info2")
			+bitem('Дизайн', 'Презентуем Вашу компанию <br>на высоком уровне', 'pos-3 pull-right')(class="icon-info3")
			+bitem('Разработка', 'ПК, ноутбук или телефон – <br>посетитель корректно будет видеть <br>Ваш сайт на всех устройствах', 'pos-4 pull-right')(class="icon-info4")
			+bitem('Маркетинг', 'Сайт готов, о нем должны узнать <br>как можно больше клиентов', 'pos-5')(class="icon-info5")
			.content-wrapp
				.center-xy
					img(src="../img/6point2.svg", class="block-resp anim-circle-2" alt="")
					.circle-in
						img(src="../img/6point1.svg", class="block-resp anim-circle-1" alt="")
						img(class="logo-up" src="../img/logo-ud.svg", alt="")
				img(class="circle" src="../img/circe-lg.svg", alt="")
// end section-1