svg(id='Слой_2', data-name='Слой 2', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 55 48.18', style='')
	defs
		style.
			.cls-1{fill:none;stroke:#1b6fec;stroke-miterlimit:10;stroke-width:1.2px;}
	title designer
	path.cls-1.izDLvFdy_0(width='50.59', height='41.66', d='M0.61 2.72 L51.2 2.72 L51.2 44.379999999999995 L0.61 44.379999999999995 Z')
	path.cls-1.izDLvFdy_1(d='M0.56,8.9L51.15,8.9')
	path.cls-1.izDLvFdy_2(d='M3.58,5.72L5.07,5.72')
	path.cls-1.izDLvFdy_3(d='M6.93,5.72L8.42,5.72')
	path.cls-1.izDLvFdy_4(d='M10.28,5.72L11.77,5.72')
	path.cls-1.izDLvFdy_5(width='11.16', height='7.44', d='M5.06 33.22 L16.22 33.22 L16.22 40.66 L5.06 40.66 Z')
	path.cls-1.izDLvFdy_6(width='11.16', height='7.44', d='M20.33 33.22 L31.49 33.22 L31.49 40.66 L20.33 40.66 Z')
	path.cls-1.izDLvFdy_7(width='11.16', height='7.44', d='M35.61 33.22 L46.769999999999996 33.22 L46.769999999999996 40.66 L35.61 40.66 Z')
	path.cls-1.izDLvFdy_8(d='M46.75,15.21L46.75,12.63L5.09,12.63L5.09,29.74L46.75,29.74L46.75,27.5')
	path.cls-1.izDLvFdy_9(d='M17.9,21.45L51.15,21.45')
	path.cls-1.izDLvFdy_10(d='M17.59,17.73L17.59,25.17')
	path.cls-1.izDLvFdy_11(d='M17.16,17.73L9.78,21.45L17.16,25.17L54.36,25.17L54.36,17.73L17.16,17.73Z')
		
