svg(id='Слой_2', data-name='Слой 2', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 55 59.52', style='')
	defs
		style.
			.cls-1,.cls-2{fill:none;stroke:#1b6fec;stroke-miterlimit:10;stroke-width:1.2px;}.cls-2{stroke-linecap:round;}
	title manager
	path.cls-1.SyiCiiNU_0(d='M23.72,6.01A3.76,3.76 0,1,1 31.240000000000002,6.01A3.76,3.76 0,1,1 23.72,6.01')
	path.cls-1.SyiCiiNU_1(d='M27.42,9.9h.13A7.46,7.46,0,0,1,35,17.36v4.12a0,0,0,0,1,0,0H20a0,0,0,0,1,0,0V17.36A7.46,7.46,0,0,1,27.42,9.9Z')
	path.cls-2.SyiCiiNU_2(d='M23.72,21.48L23.72,14.53')
	path.cls-2.SyiCiiNU_3(d='M31.25,21.48L31.25,14.53')
	path.cls-1.SyiCiiNU_4(d='M27.48,23.8L27.48,33.64')
	path.cls-1.SyiCiiNU_5(d='M7.8,33.64V30.16a2.32,2.32,0,0,1,2.31-2.31H44.85a2.32,2.32,0,0,1,2.32,2.31v3.48')
	path.cls-1.SyiCiiNU_6(d='M23.619999999999997,41.17A3.76,3.76 0,1,1 31.14,41.17A3.76,3.76 0,1,1 23.619999999999997,41.17')
	path.cls-1.SyiCiiNU_7(d='M27.32,45.05h.13a7.46,7.46,0,0,1,7.46,7.46v4.12a0,0,0,0,1,0,0H19.86a0,0,0,0,1,0,0V52.52A7.46,7.46,0,0,1,27.32,45.05Z')
	path.cls-2.SyiCiiNU_8(d='M23.62,56.63L23.62,49.69')
	path.cls-2.SyiCiiNU_9(d='M31.15,56.63L31.15,49.69')
	path.cls-1.SyiCiiNU_10(d='M4.52,41.17A3.76,3.76 0,1,1 12.04,41.17A3.76,3.76 0,1,1 4.52,41.17')
	path.cls-1.SyiCiiNU_11(d='M8.21,45.05h.13a7.46,7.46,0,0,1,7.46,7.46v4.12a0,0,0,0,1,0,0H.75a0,0,0,0,1,0,0V52.52A7.46,7.46,0,0,1,8.21,45.05Z')
	path.cls-2.SyiCiiNU_12(d='M4.51,56.63L4.51,49.69')
	path.cls-2.SyiCiiNU_13(d='M12.04,56.63L12.04,49.69')
	path.cls-1.SyiCiiNU_14(d='M42.96,41.17A3.76,3.76 0,1,1 50.48,41.17A3.76,3.76 0,1,1 42.96,41.17')
	path.cls-1.SyiCiiNU_15(d='M46.66,45.05h.13a7.46,7.46,0,0,1,7.46,7.46v4.12a0,0,0,0,1,0,0H39.2a0,0,0,0,1,0,0V52.52a7.46,7.46,0,0,1,7.46-7.46Z')
	path.cls-2.SyiCiiNU_16(d='M42.96,56.63L42.96,49.69')
	path.cls-2.SyiCiiNU_17(d='M50.49,56.63L50.49,49.69')
		
