extends layout/lay.pug
block config
	- var pageTitle = 'main-page';

block content
	include includes/header.pug
	include includes/form-fixed
	include includes/section-1
	include includes/section-2
	include includes/section-3
	include includes/section-4
	include includes/section-5
	include includes/section-6
	
	include includes/footer.pug

	
	+price('price-1', 'MINIMAL', 'MINIMAL')
	+price('price-2', 'NORMAL', 'NORMAL')
	+price('price-3', 'MAXIMUM', 'MAXIMUM')



	+b.forms_2#f
		.btn-close.js-close-fancybox Закрыть
			i.icon-close
		+e.title Получите коммерческое предложение
		.wrapp
			.side
				img(src="../img/magazine2.png", alt="")
			.side.side_form
				+b.form
					+e.title-sm Оставьте заявку
					+e.subtitle Специалист компании UDiamond свяжется<br>с Вами в течение рабочего дня.
					+getProp('Получить предложение')






	
	//- include includes/form.pug
	//- include includes/modals.pug
	//- include includes/button-menu.pug

	
	