extends layout/lay.pug
block config
	- var pageTitle = 'main-page';

block content
	//- include includes/header.pug
	//- include includes/section-1
	include includes/section-2
	include includes/section-3
	include includes/section-4
	include includes/section-5
	include includes/section-6
	
	include includes/footer.pug

	
	





	
	//- include includes/form.pug
	//- include includes/modals.pug
	//- include includes/button-menu.pug

	
	