input:not([type=submit]) {
	width: 100%;
	outline: none;
	display: block;

	border-radius: 4px;
	border: 1px solid #363946;
	transition: border-color .2s ease;
	background: none;
	height: 60px;
	padding-left: 20px;

	color: #fff;
	font-family: $font1;
	font-size: 13px;
	font-weight: 400;
}



button[type=submit] {
	width: 100%;
	display: block;
	cursor: pointer;
	outline: none;
}


button:disabled {
	background-color: #ddd !important;
	box-shadow: none !important;
}







.form-fixed {
	padding: 0px 85px;
	transform: translate(100%, 0%);
	z-index: 100;
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	overflow-y: auto;

	width: 530px;
	background-image: linear-gradient(to bottom, #141721 0%, #292f3f 100%);
	transition: transform .25s ease;

	.form {
		position: relative;
		top: 50%;
		transform: translate(0, -50%);
		padding: 20px 0;
	}

	&_scroll {
		.form {
			position: static;
			top: 0%;
			transform: translate(0, 0);
		}
	}
	
	&_show {
		transform: translate(0, 0);
	}
	button {
		margin-top: 20px;
	}
}
.form {
	button {
		margin-top: 20px;
	}

	&__title-sm {
		color: #ffffff;
		font-family: $font1;
		font-size: 23px;
		font-weight: 500;
	}
	&__title {
		color: #ffffff;
		font-family: $font1;
		font-size: 48px;
		font-weight: 300;
		line-height: 54px;
		position: relative;
		padding-bottom: 30px;
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 100px;
			height: 3px;
			background-color: #1b6fec;
			bottom: 0;
			left: 0;
		}
	}

	&__subtitle {
		color: #ffffff;
		font-family: $font1;
		font-size: 15px;
		font-weight: 400;
		line-height: 26px;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	label {
		color: #c6ccd3;
		font-family: $font1;
		font-size: 13px;
		font-weight: 400;
		display: block;
		input {
			margin-top: 8px;
		}
	}
}
.tab-form {
	padding-top: 24px;
	&__head {
		color: #c6ccd3;
		font-family: $font1;
		font-size: 13px;
		font-weight: 400;
	}

	&__tabs-caption {
		margin-top: 8px;
		margin-bottom: 24px;
		*zoom: 1;
		&:before, &:after {
			content: " ";
			display: table;
		}
		&:after {
			clear: both;
		}

	}

	&__item {
		width: 25%;
		height: 44px;
		line-height: 44px;
		float: left;
		box-shadow: 
		1px 0 0 0 #363946, 
		0 1px 0 0 #363946, 
		1px 1px 0 0 #363946,   
		1px 0 0 0 #363946 inset, 
		0 1px 0 0 #363946 inset;
		transition: all .2s ease;
		cursor: pointer;
		&:not(:first-child) {
			border-left: none;
		}
		&:first-child {
			border-radius: 4px 0 0 4px;
		}
		&:last-child {
			border-radius: 0px 4px 4px 0px;
		}
		&:hover,
		&_active {
			background-color: #1b6fec;
			color: #fff;
			box-shadow: 
			1px 0 0 0 #1b6fec, 
			0 1px 0 0 #1b6fec, 
			1px 1px 0 0 #1b6fec,   
			1px 0 0 0 #1b6fec inset, 
			0 1px 0 0 #1b6fec inset;
		}

		color: #515567;
		font-family: $font1;
		font-size: 13px;
		font-weight: 400;
		text-align: center;
	}

	&__content-wrapp {
	}
	&__content {
		display: none;
		&_active {
			display: block;
		}
	}
}

.error {
	border-color: red !important;
}

.btn-close {
	height: 16px;
	color: #ffffff;
	font-family: $font1;
	font-size: 11px;
	line-height: 16px;
	cursor: pointer;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.1px;
	padding-right: 35px;
	position: absolute;
	top: 25px;
	right: 30px;
	z-index: 101;
	i {
		position: absolute;
		top: 50%;
		transform: translate(0, -60%);
		right: 0;
	}
	i:before {
		font-size: 14px;
	}
}








.forms {
	width: 970px;
	background-image: linear-gradient(to bottom, #141721 0%, #292f3f 100%);
	display: none;
	padding-top: 45px;
	&_1 {
		padding-bottom: 20px;
		padding-left: 50px;
		padding-right: 0;
	}
	&_2 {
		padding-bottom: 30px;
		padding-left: 0;
		padding-right: 0;
		.form__subtitle {
			margin-top: 5px;
			margin-bottom: 20px;
		}
	}
	&__title {
		color: #ffffff;
		text-align: center;
		font-family: $font1;
		font-size: 32px;
		font-weight: 500;
		letter-spacing: 0.64px;
	}
}
.wrapp {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 27px;
	img {
		max-width: 100%;
		height: auto;
	}
}
.side {
	width: 50%;
	&_form {
		padding: 0 110px 0 15px;
	}
}
.l-side {
	max-width: 40%;
}
.r-side {
	max-width: 60%;
}
.price-content {
	counter-reset: heading;
	height: 365px;
	li {
		color: #ffffff;
		font-family: $font1;
		font-size: 15px;
		font-weight: 400;
		line-height: 19px;
		position: relative;
		padding-left: 34px;
		margin-bottom: 10px;
		span {
			font-weight: 500;
			position: absolute;
			line-height: 19px;
			left: 0;
			top: -1px;
		}
	}
}

.getprice {
	display: inline-block;
	text-align: center;
	padding-top: 22px;
	&__txt {
		padding-bottom: 10px;
		color: #ffffff;
		font-family: $font1;
		font-size: 15px;
		line-height: 19px;
		font-weight: 400;
		span {
			font-weight: 500;
		}
	}
}